.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #1e2122;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #3a3e41;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}