/* Blog Styles */
.blog {
  background-color: #1b1e1f;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.blogTitle {
  font-size: 32px;
  margin: 0;
}

.blog p {
  margin-bottom: 10px;
  padding: 0 10vw 0 10vw;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header-left h1 {
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right form {
  margin: 0;
}

.login-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #0056b3;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #181a1b;
  color: #fff;
  margin: 0;
  padding: 20px;
  border-color: #3a3e41;
}

.center {
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-top: 30px;
}

h3 {
  font-size: 26px;
}

form {
  margin-top: 20px;
}

form input[type="text"],
form input[type="submit"] {
  margin-bottom: 10px;
}

input {
  background-color: #2b2a33;
  color: #6b6964;
}

textarea {
  max-width: 30vw;
  max-height: 20vh;
  color: #6b6964;
  background-color: #2b2a33;
  margin-bottom: 12px;
}

hr {
  margin-top: 20px;
}

.errorText {
  color: #000;
  background-color: rgba(230, 52, 52, 0.592);
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border-left: 5px solid red;
  border-right: 5px solid red;
}

/* Comment Styles */
.comment {
  background-color: #1b1e1f;
  border: 1px solid #3a3e41;
  padding: 10px;
  margin-bottom: 10px;
}

.author {
  font-size: 24px;
  color: yellow;
  font-weight: bold;
}

.comment p {
  margin: 5px 0;
}